body {
  background-image: url("./assets/map.jpeg");
}

.page-header {
  text-align: center;
  font-size: 50px;
  color: #0e191a;
  text-shadow: 2px 2px #000;
}

.main-cover,
.plates {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-cover img {
  height: auto;
  width: 40%;
}

.list-foods {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.list-foods ul {
  list-style-type: none;
}
